$roboto-font: "Roboto", sans-serif;
$primary-color: black;
$primary-60percent: #00000099;
$secondary-color: white;
$main-bg-color: #f0f0f0;
$main-bg-color-2: #f2f0f1;
$card-discountColor: #ff3333;
$card-discountBgColor: rgba(255, 51, 51, 0.1);
$home-buttonBorderColor: rgba(0, 0, 0, 0.1);
